{% extends 'home/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="container">
     <div class="row mb-4">
         <div class="col mx-auto">
             <h1>Battles</h1>
            {% render_table battle_table %}
         </div>
     </div>
</div>

<div class="modal fade" id="deleteBattleModal" tabindex="-1" role="dialog" aria-labelledby="deleteBattleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Battle</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this battle?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="delete-battle-btn" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        let battle_id = "";
        $('#deleteBattleModal').on('show.bs.modal', function (e) {
            battle_id = $(e.relatedTarget).data('battle-id');
        });
        $('#delete-battle-btn').click(function(e) {
            e.preventDefault();
            if (battle_id != "") {
                window.location.replace("/battles/delete/" + battle_id);
            }
        });
    });
</script>

{% endblock content %}