{% extends 'home/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="container">
    {% if league %}
    <div class="row mb-4">
        <div class="col-md-4">
            <img src="{{ league.image.url }}" class="img-thumbnail">
        </div>
        <div class="col-md-8">
            <h1 class="display-2">{{ league.title }}</h1>
            <h3>Owned by: {{ league.owner.username }}</h3>
            <p class="lead">{{ league.description }}</p>
            <p> Join token: {{ league.password }}</p>
        </div>
    </div>
    {% endif %}
    {% if standing_table %}
        <div class="row mb-4">
            <div class="col-md-10 mx-auto">
                <h2>Player Standings</h2>
                {% render_table standing_table %}
            </div>
        </div>
    {% endif %}
    {% if battle_table %}
        <div class="row mb-4">
            <div class="col-md-10 mx-auto">
                <h2>Latest Battles</h2>
                {% render_table battle_table %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}