{% extends 'home/base.html' %}{% block content %}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-4 text-center">
            <h2 class="mb-4">Owned Leagues</h2>
            <a href="{% url 'league-create' %}"><button type="button" class="btn btn-primary">Create New League</button></a>
        </div>
        <div class="col-md-8">
            <div class="card-deck">
                {% for league in owned_list %}
                <div class="card">
                    <a href="{% url 'league-detail' league.id  %}"><img src="{{ league.image.url }}" class="card-img-top"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ league.title }}</h5>
                        <p class="card-text">{{ league.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Owned by: {{ league.owner.username }}</li>
                        <li class="list-group-item">Current points: {{ league.current_points }}</li>
                    </ul>
                    <div class="card-body text-center">
                        <div class="btn-group" role="group">
                            <a href="{% url 'league-update' league.id %}" class="btn btn-primary">Edit</a>
                            <button type="button" data-league-id="{{ league.id }}" data-toggle="modal" data-target="#deleteLeagueModal" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <h2 class="mb-4">Playing in Leagues</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#joinLeagueModal">Join a League</button>
        </div>
        <div class="col-md-8">
            <div class="card-deck">
                {% for army in playing_list %}
                <div class="card">
                    <a href="{% url 'league-detail' army.league.id  %}"><img src="{{ army.league.image.url }}" class="card-img-top"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ army.league.title }}</h5>
                        <p class="card-text">{{ army.league.description }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Owned by: {{ army.league.owner.username }}</li>
                        <li class="list-group-item">Current points: {{ army.league.current_points }}</li>
                    </ul>
                    <div class="card-body text-center">
                        <div class="btn-group" role="group">
                            <a href="{% url 'league-detail' army.league.id %}" class="btn btn-primary">View</a>
                            <a href="{% url 'army-update' army.id %}" class="btn btn-warning">Edit Army</a>
                            <a href="{% url 'league-leave' army.league.id %}" class="btn btn-danger">Leave</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="joinLeagueModal" tabindex="-1" role="dialog" aria-labelledby="joinLeagueModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Join a new League</h5>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">League token</span>
                    </div>
                    <input id="token-text" type="text" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="join-league-btn" type="button" class="btn btn-primary">Join</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteLeagueModal" tabindex="-1" role="dialog" aria-labelledby="deleteLeagueModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete League</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this league?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="delete-league-btn" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        let league_id = "";
        $('#join-league-btn').click(function(e) {
           e.preventDefault();
           let token = $('#token-text').val();
           if (token !== "") {
               window.location.replace("/join/" + token)
           }
        });
        $('#deleteLeagueModal').on('show.bs.modal', function (e) {
            league_id = $(e.relatedTarget).data('league-id');
        });
        $('#delete-league-btn').click(function(e) {
            e.preventDefault();
            if (league_id != "") {
                window.location.replace("/delete/" + league_id);
            }
        });
    });
</script>
{% endblock content %}